.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 528px;
  // height: 580px;
  background-color: rgb(255,255,255);
  padding: 40px;
}
.modal-close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
 @extend %align;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition);
          &:hover,
          &:focus{
            background-color: var(--white-color);
        }
       
}

.modal-close-btn-icon{
transition: fill var(--transition);
        .modal-close-btn:hover &,
        .modal-close-btn:focus &{
            fill: var(--main-color);
        }
}

@media screen and( max-width: 1199px) {
  .modal{
    width: 450px;
    // height: 609px;}
  }
  
}

@media screen and (min-width: 1200px) {
  .modal{
  width: 528px;
  height: 580px;}
}